/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
  --c-primary: #362B2B;
  --c-secondary: #655C55;
  --c-background: #FAF8F3;
  --max-width: 1600px;
  --site-padding: 30px;
  --grid-gap: 30px;
  --column-gap: 30px;
  --border-color: black;
  --border-color-light: rgba(0, 0, 0, 0.8);
  --docs-color: #888;
  --f-size-sm: 12px;
  --f-size-md: 24px;
  --f-size-lg: 48px;
  --ff-sans: 'Montserrat',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

/* Base Layout */
body {
  background-color: var(--c-background);
  font: var(--f-size-sm) / 1.375 var(--ff-sans);
  margin: 0;
  padding: 0;
}


#root {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: left;
}

.main-header, .main-content {
  background-color: #EBEAE5;
  padding: var(--site-padding);
  max-width: var(--max-width);
  margin: 0;
}

/* Main Header */
.main-header {
display: flex;
justify-content: space-between;
align-items: flex-end;
gap: var(--grid-gap)
}
.main-header__intro {
  max-width: 600px;
}

.main-header__intro h1 {
  font-size: var(--f-size-sm);
  margin: 0 0 0.5em;
}



/* Drag and Drop Styles */
.drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--c-secondary);
  border-radius: 3px;
  padding: 20px;
  transition: all 0.3s ease;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.drop-zone p, .drop-zone label {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
}

.upload-form.drag-over .drop-zone {
  border-color: var(--c-primary);
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.02);
}


.file-input {
  display: none;
}

.file-label {
  display: inline-block;
  border-bottom: 1px solid var(--c-secondary);
  font-weight: bold;

}

.file-label:hover {
  background-color: var(--c-secondary);
}
/* Main Content */
.main-content {
  background-color: var(--c-background);
}

/* Student Header */
.student-header {
  padding: var(--grid-gap) 0;
}

.student-header h1 {
  font-size: var(--f-size-lg);
  margin: 0;
  padding: 0;
}

.year-selector label {
  display: block;
  font-weight: bold;
  padding-bottom: 2px;
}

.year-selector select {
  min-width: 100px;
  padding: 6px 10px;
  border-radius: 3px;
  display: block;
  border: solid 1px var(--c-secondary);
  font-size: var(--f-size-sm);
  font-family: var(--ff-sans);
  outline: none;
}

/* Grades Table */
.quarter-header,
.course-record {
  border-top: 1px solid var(--c-primary);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--grid-gap);
}

.quarter-header {
  border-top: 3px solid var(--c-primary);
  font-weight: bold;
  padding: 15px 0;
}

.course-record {
  padding: var(--grid-gap) 0;
}

.course-info {
  grid-column: span 1;
}
.course-title {
  font-weight: normal;
  font-size: var(--f-size-md);
  margin: 0;
  padding: 0;
}

/* Grades */
.grade-container {
  display: grid;
  grid-column: span 5;
  grid-template-columns: subgrid;
}

/* Table cell */
.grade-values {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.letter-grade {
  font-weight:normal;
  font-size: 24px;
  display: inline-block;
}

.number-grade {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: inline-block;
  padding: 4px 6px;
  margin-left: 10px;
}

.absent-count {
  color: var(--c-secondary);
  font-style: italic;
}
.comments {
  color: var(--c-secondary)
}