/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=download');

/* CSS Variables */
:root {
  /* Color */
  --c-primary: #362B2B;
  --c-secondary: #655C55;
  --c-background: #FAF8F3;
  --c-border: var(--c-primary);
  --c-border-light: #ececec;

  /* Spacing */
  --max-width: 1800px;
  --site-padding: 20px;
  --grid-gap: 12px;
  
  /* Type */
  --f-size-sm: 12px;
  --f-size-md: 18px;
  --f-size-lg: 28px;
  --ff-sans: 'Montserrat',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

:root {
@media (min-width: 800px) {
    --f-size-sm: 14px;
    --f-size-md: 28px;
    --f-size-lg: 48px;  
    --site-padding: 40px;
    --grid-gap: 20px;
  }
}

/* Base Layout */
body {
  background-color: var(--c-background);
  font: var(--f-size-sm) / 1.375 var(--ff-sans);
  margin: 0;
  padding: 0;
}


#root {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: left;
}

.main-header, .main-content {
  background-color: #EBEAE5;
  padding: var(--site-padding);
  max-width: var(--max-width);
  margin: 0;
}



/* Main Header */
.main-header {
  padding-top: var(--site-padding);
  padding-bottom: var(--site-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  transition: height 0.5 ease-in-out;
}

.main-header.file-loaded {
  height: 100px;
}

.main-header__form {
  border: 1px dashed var(--c-secondary);
  border-radius: 3px;
  padding: 20px;
  transition: all 0.3s ease;
  margin: 0 auto;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.5);
}

.main-header__form .material-symbols-outlined {
  font-size: 130%;
  display: inline-block;
  vertical-align: bottom;
}

.main-header__form h1 {
  font-size: var(--f-size-sm);
  margin: 0;
  padding: 0;
}



/* Uploaded File Display */
.uploaded-file {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: var(--f-size-sm);
}

/* Drag and Drop Styles */

.drop-zone p, .drop-zone label {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
}

.main-header.drag-over .drop-zone {
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}


.file-input {
  display: none;
}

.file-label {
  display: inline-block;
  border-bottom: 1px solid var(--c-secondary);
  font-weight: bold;

}

/* Main Content */
.main-content {
  background-color: var(--c-background);
}

/* Student Header */
.student-header {
  padding: var(--grid-gap) 0;
}

.student-header h1 {
  font-size: var(--f-size-lg);
  margin: 0;
  padding: 0;
}

.year-selector label {
  display: block;
  font-weight: bold;
  padding-bottom: 2px;
}

.year-selector select {
  min-width: 100px;
  padding: 6px 10px;
  border-radius: 3px;
  display: block;
  border: solid 1px var(--c-secondary);
  font-size: var(--f-size-sm);
  font-family: var(--ff-sans);
  outline: none;
}

/* Grades Table */
.table-header {
  display: none;
}

.table-header td,
.course-record td {
  border-bottom: 1px solid var(--c-border-light);
  position: relative;
  padding: var(--grid-gap) 0;
  display: block;
  padding-left: 70px;
}

.course-record td:first-of-type {
  border-top: 3px solid var(--c-primary);
}

.course-record td::before {
  content: attr(data-th);
  font-weight: bold;
  width: 50px;
  display: block;
  position: absolute;
  top: var(--grid-gap);
  left: 0;
  pointer-events: none;
}

 @media (min-width: 800px) {
  .table-header,
  .course-record {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: var(--grid-gap);
  border-bottom: 1px solid var(--c-border);
  }
.table-header td,
.course-record td {
  border: none !important;
  display: block;
  padding: 0;
}

  .course-record td::before {
    display: none;
  }
 }


.table-header {
  background: var(--c-background);
  border-top: 3px solid var(--c-primary);
  font-weight: bold;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.course-record {
  padding: var(--grid-gap) 0;
}

.course-info {
  grid-column: span 1;
}
.course-title {
  font-weight: normal;
  font-size: var(--f-size-md);
  margin: 0;
  padding: 0;
}


/* Table cell */
.grade-values {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.letter-grade {
  font-weight:normal;
  font-size: var(--f-size-md);
  display: inline-block;
}

.number-grade {
  border: 1px solid var(--c-border);
  border-radius: 5px;
  display: inline-block;
  padding: 4px 6px;
  margin-left: 10px;
  position: relative;
  top: -4px;
}

.absent-count {
  color: var(--c-secondary);
  font-style: italic;
}
.comments {
  color: var(--c-secondary)
}

/* No Print */
@media print {
  body {
    font-size: 70%;
  }

  .no-print, .no-print * {
    display: none !important;
  }
}